*{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 1.5rem 0 0;
}

header{
  padding: 2rem;
  background: white;
}

header input{
  width:100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  outline-width: 0;
  border: 1px solid lightgray;
  box-shadow: -1px  4px 20px -6px rgba(0,0,0,0.8);
}

.articles article{
  padding: 1rem;
}
.articles article a{
  text-decoration: none;
}

.articles article h3{
  color: black;
}

.articles article:nth-child(2n){
  background-image: linear-gradient(to right, lightgreen, lightblue);
}